body {
   padding-bottom: 20px;
 }
 
 .container-wrapper {
   display: flex;
   flex-direction: row;  
   justify-content: space-between; /* [flex-start/flex-end/center/space-between/space-around];*/
   width: 60%;
   height: 100vh;
}

.container-continue {
   display: flex;
   align-items: center; /* horizontal */
   justify-content: space-around; /* vertical */
   flex-direction: column;
   width: 50%;
   min-height: 34rem;
}

.get-the-app {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 1.3rem 0;
}

 .container {
   margin: 0;
   padding: 0;
   display: 'flex';
   height: '60';
   flex-direction: row;  
   justify-content: space-between; /* [flex-start/flex-end/center/space-between/space-around];*/
}
.item1{
   height: 100px;
   width: 100px;
}

.item2{
   height: 50px;
   width: 150px;
}

.item3{
   height: 100px;
   width: 200px;
}


.navbar {
   margin-bottom: 20px;
 }

img {
   max-height: 100%;
   min-width: 100%;
   object-fit: cover;
   vertical-align: bottom;
 }
 
nav {
   display: flex;
   justify-content: center;
   height: 50px;
   margin-bottom: 10px;
 }
 
 nav > img {
   display: block;
   width: 50px;
   height: auto;
 }
 
.nav {
    margin: 0;
    padding: 0;
    display: 'flex';
    background-color: rgb(23, 233, 23);
    height: '20';
    flex-direction: row;
    justify-content: space-between;
 }

.ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   flex-direction: row;
   justify-content: space-between;   
 }

 article {
    margin: '4px';
    padding: '5px';
    border-radius: 7pt;
    background-color: 'red';
    flex: 6;
    order: 2;
    align-items: stretch;
 }
 header {
    margin: '4px';
    padding: '5px';
    border-radius: 7pt;
    background: 'green';
    flex: 1;
    order: 1
 }
 footer {
    margin: '4px';
    padding: '5px';
    border-radius: 7pt;
    background: 'blue';
    flex: 1;
    order: 3
 }